In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
essays = pd.read_csv("essays.csv")
grover = pd.read_csv("grover.csv")
reviews = pd.read_csv("reviews.csv")
wiki = pd.read_csv("wiki.csv")

### Processing essays

In [23]:
essays.sample(5)

,text,prompt_name,source,RDizzl3_seven,Label
14161,"Dear Principle,\n\nI think that students shoul...",Community service,persuade_corpus,False,Human
16139,STUDENT_NAME\n\nOTHER_NAME\n\nOTHER_NAME\n\n3-...,Grades for extracurricular activities,persuade_corpus,False,Human
2449,What are the biggest advantages of limiting ca...,Car-free cities,persuade_corpus,True,Human
26547,I believe that setting a good example is the ...,Seeking multiple opinions,mistral7binstruct_v2,False,Machine
5444,You should join the Seagoing Cowboys! In this ...,"""A Cowboy Who Rode the Waves""",persuade_corpus,True,Human

In [24]:
essays['source'].value_counts()

source
persuade_corpus                       25996
mistral7binstruct_v1                   2421
mistral7binstruct_v2                   2421
chat_gpt_moth                          2421
llama2_chat                            2421
kingki19_palm                          1384
train_essays                           1378
llama_70b_v1                           1172
falcon_180b_v1                         1055
darragh_claude_v6                      1000
darragh_claude_v7                      1000
radek_500                               500
NousResearch/Llama-2-7b-chat-hf         400
mistralai/Mistral-7B-Instruct-v0.1      400
cohere-command                          350
palm-text-bison1                        349
radekgpt4                               200
Name: count, dtype: int64

In [20]:
machine_essays = essays[essays['Label'] == 'Machine'].sample(n = 10000)
human_essays = essays[essays['Label'] == 'Human'].sample(n = 10000)
training_essays = pd.concat([machine_essays, human_essays])

In [21]:
training_essays = training_essays[['text', 'Label']]
training_essays['Original dataset'] = 'essays.csv'
training_essays['Row in original dataset'] = training_essays.index

In [25]:
training_essays.rename(columns = {'text':'Text'}, inplace = True)

In [26]:
training_essays

,Text,Label,Original dataset,Row in original dataset
33800,Title: The Power of Praise and Achievements on...,Machine,essays.csv,33800
39314,The rise of technology has brought about signi...,Machine,essays.csv,39314
26585,High school is a crucial part of a person's li...,Machine,essays.csv,26585
34420,"Sure, here's my attempt at writing an essay re...",Machine,essays.csv,34420
40244,The prospect of implementing a four-day school...,Machine,essays.csv,40244
...,...,...,...,...
21116,"Dear TEACHER_NAME,\n\nFriday, January 28th, 20...",Human,essays.csv,21116
43183,Florida Senator I had not known much about the...,Human,essays.csv,43183
7880,"Do you feel tired, over stressed, and ready to...",Human,essays.csv,7880
10796,Whats the Facial Coding System you asked ? Wha...,Human,essays.csv,10796
799,Distracted Driving\n\nDistracted driving has b...,Human,essays.csv,799

### Processing grover

In [41]:
grover.sample(5)

,Unnamed: 0,article,domain,title,date,authors,ind30k,url,label,orig_split,split,random_score,top_p
17715,17715,A TAXIDERMY shop owner has launched an urgent ...,dailystar.co.uk,NHS launches FREE BEER prescriptions for run-d...,2019-04-01,Michael Moran,6097,https://www.dailystar.co.uk/news/latest-news/7...,machine,gen,test,NaN,0.939683
9504,9504,"sport, local-sport,\nINDIVIDUAL trials are the...",theherald.com.au,South Newcastle Lions team preview 2019 - Newc...,2019-04-11,Josh Callinan,1816,https://www.theherald.com.au/story/6008118/new...,machine,gen,train,NaN,0.939683
16429,16429,"This content was published on April 12, 2019 1...",swissinfo.ch,Football Leaks probe closed against Swiss pros...,2019-04-12,NaN,3271,https://www.swissinfo.ch/eng/soccer-business_f...,human,gen,test,-0.560633,NaN
22488,22488,When a mother thought that her husband loved t...,opposingviews.com,Jealous Mom Thinks Husband Loves 3-Week-Old Da...,2019-04-01,Opposing Views Staff,7809,https://www.opposingviews.com/society/jealous-...,human,gen,test,0.799296,NaN
19715,19715,The most influential Patriot you’d never heard...,boston.com,"Jack Easterby, departed Patriots character coa...",2019-04-02,Jon Couture,20749,https://www.boston.com/sports/new-england-patr...,human,train_burner,test,0.146859,NaN

In [29]:
grover['label'].value_counts()

label
human      15000
machine    10000
Name: count, dtype: int64

In [31]:
machine_grover = grover[grover['label'] == 'machine']
human_grover = grover[grover['label'] == 'human'].sample(n = 10000)
training_grover = pd.concat([machine_grover, human_grover])

In [37]:
training_grover['Label'] = training_grover['label'].apply(lambda x: x.capitalize())
training_grover['Original dataset'] = 'grover'
training_grover['Row in original dataset'] = training_grover.index
training_grover.rename(columns = {'article':'Text'}, inplace = True)

In [38]:
training_grover = training_grover[['Text', 'Label', 'Original dataset', 'Row in original dataset']]

In [42]:
training_grover

,Text,Label,Original dataset,Row in original dataset
1,"When I first started looking at oil assets, I ...",Machine,grover,1
4,The Kingston and St Andrew Municipal Corporati...,Machine,grover,4
5,"news, local-news,\nTwo protests against an inv...",Machine,grover,5
7,Drink-driving charges brought against Danny Dr...,Machine,grover,7
13,Called by the Mirror after today's strong new ...,Machine,grover,13
...,...,...,...,...
7425,Hyderabad: Attacking the Bharatiya Janata Part...,Human,grover,7425
23303,"At age 16, Omar Arafat just became a published...",Human,grover,23303
18418,PHOENIX (AP) — Joe Ingles has the green light ...,Human,grover,18418
21652,While heading into the eighth and final season...,Human,grover,21652
543,A comprehensive report recapping developments ...,Human,grover,543

### Processing reviews

In [43]:
reviews.sample(5)

,category,rating,label,text_
6015,Sports_and_Outdoors_5,5.0,OR,"Unlike the taller socks, these don't feel as t..."
39373,Clothing_Shoes_and_Jewelry_5,5.0,CG,"These are a nice slip-on, but not the most com..."
5416,Sports_and_Outdoors_5,5.0,OR,i have purchased 15 of the new adidas green st...
7280,Sports_and_Outdoors_5,5.0,CG,Very nice sights. They fit perfect on the Gloc...
22788,Pet_Supplies_5,1.0,OR,my kitten straight up refused to eat this. i o...

In [49]:
reviews['label'] = reviews['label'].apply(lambda x: 'Human' if x == 'OR' else 'Machine')
reviews.rename(columns = {'label':'Label', 'text_':'Text'}, inplace=True)

In [51]:
machine_reviews = reviews[reviews['Label'] == 'Machine'].sample(n = 10000)
human_reviews = reviews[reviews['Label'] == 'Human'].sample(n = 10000)
training_reviews = pd.concat([machine_reviews, human_reviews])

In [53]:
training_reviews['Original dataset'] = 'reviews'
training_reviews['Row in original dataset'] = training_reviews.index
training_reviews = training_reviews[['Text', 'Label', 'Original dataset', 'Row in original dataset']]

In [54]:
training_reviews

,Text,Label,Original dataset,Row in original dataset
18681,I could not be happier with this item. I've us...,Machine,reviews,18681
13284,We are only half way through the movie. We ar...,Machine,reviews,13284
39211,"The design of the shoes is a little sloppy, bu...",Machine,reviews,39211
9393,This inexpensive Garmin is well built and easy...,Machine,reviews,9393
25873,Really good story. Would have liked more of th...,Machine,reviews,25873
...,...,...,...,...
23467,If you want the convenience of buying puppy tr...,Human,reviews,23467
12820,"After 39 years, it was time to see this movie ...",Human,reviews,12820
29108,"I have not finished it completely, lost intere...",Human,reviews,29108
33829,My granddaughter loves the table especially wh...,Human,reviews,33829
20399,"I have a Rottweiler and she loves this toy, an...",Human,reviews,20399

### Processing wiki

In [55]:
wiki.sample(5)

,Unnamed: 0,id,url,title,wiki_intro,generated_intro,title_len,wiki_intro_len,generated_intro_len,prompt,generated_text,prompt_tokens,generated_text_tokens
7345,7345,46350716,https://en.wikipedia.org/wiki/ReLIFE,ReLIFE,is a Japanese manga series in webtoon format w...,is a Japanese manga series in webtoon and grap...,1,203,80,200 word wikipedia style introduction on 'ReLI...,and graphic novel form written and illustrate...,25,92
4685,4685,59706264,https://en.wikipedia.org/wiki/John%20Templeton...,John Templeton Foundation,The John Templeton Foundation (Templeton Found...,The John Templeton Foundation (Templeton Found...,3,238,64,200 word wikipedia style introduction on 'John...,an international philanthropic foundation. It...,29,76
138186,138186,19344639,https://en.wikipedia.org/wiki/Sreevallabha%20T...,Sreevallabha Temple,Sreevallabha Temple is a highly orthodox Hindu...,Sreevallabha Temple is a highly orthodox Hindu...,2,295,152,200 word wikipedia style introduction on 'Sree...,temple dedicated to the deity Sreevallabha. I...,32,205
124670,124670,59436661,https://en.wikipedia.org/wiki/Bang%C4%B1r%20Ba...,Bangır Bangır,Bangır Bangır (Loudly Loudly) is the ninth stu...,Bangır Bangır (Loudly Loudly) is the ninth stu...,2,197,206,200 word wikipedia style introduction on 'Bang...,studio album by Turkish pop singer Sertab Ere...,35,300
17414,17414,6926950,https://en.wikipedia.org/wiki/Ultralight%20bac...,Ultralight backpacking,Ultralight backpacking is a subset of lightwe...,Ultralight backpacking is a subset of backpac...,2,230,242,200 word wikipedia style introduction on 'Ultr...,backpacking that utilizes lightweight gear an...,28,300

In [56]:
wiki = wiki.sample(n = 20000)

In [66]:
human_wiki = pd.DataFrame(wiki.iloc[:10000])
machine_wiki = pd.DataFrame(wiki.iloc[10000:])

In [67]:
human_wiki.rename(columns = {'wiki_intro':'Text'}, inplace = True)
machine_wiki.rename(columns = {'generated_intro':'Text'}, inplace = True)

In [68]:
human_wiki['Label'] = 'Human'
machine_wiki['Label'] = 'Machine'

In [69]:
training_wiki = pd.concat([human_wiki, machine_wiki])

In [72]:
training_wiki['Original dataset'] = 'wiki'
training_wiki['Row in original dataset'] = training_wiki.index
training_wiki = training_wiki[['Text', 'Label', 'Original dataset', 'Row in original dataset']]

In [73]:
training_wiki

,Text,Label,Original dataset,Row in original dataset
112536,The Chicago City Railway Company (CCRy) was an...,Human,wiki,112536
105179,"The 2014 Al-Safira offensive, code-named ""Zaei...",Human,wiki,105179
24742,"In the UK, a Ludlow wall box is a post box whe...",Human,wiki,24742
48137,Brooks England is a bicycle saddle manufacture...,Human,wiki,48137
19618,Simbarashe Simbanenduku Mumbengegwi (born 20 J...,Human,wiki,19618
...,...,...,...,...
128612,Harvey Phillip Pratt (born 1941) is an emeritu...,Machine,wiki,128612
20705,Albert Hetterle (31 October 1918 – 17 January ...,Machine,wiki,20705
41055,The West African bichir or retropinnis bichir ...,Machine,wiki,41055
118857,"Marcella ""Marcie"" Laderman (; born February 1,...",Machine,wiki,118857
117222,Alice Louisa Dudeney (née Whiffin; 21 October ...,Machine,wiki,117222

### Putting it all together

In [74]:
training = pd.concat([training_essays, training_grover, training_reviews, training_wiki])

In [77]:
training.to_csv('training.csv', index = False)