In [1]:
import numpy as np
import pandas as pd
import torch
import nltk
import os.path

from tqdm.autonotebook import tqdm, trange
from sentence_transformers import SentenceTransformer

/var/folders/xn/5_bv95hd63q1174827crqlfm0000gn/T/ipykernel_74163/3444334441.py:7: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [9]:
sentence_model = SentenceTransformer("thenlper/gte-large")

def get_sentence_embedding(text):
    if isinstance(text,str):
        if not text.strip(): 
            print("Attempted to get embedding for empty text.")
            return []
        
        return sentence_model.encode(text)
    
    elif isinstance(text,list):
        return [get_sentence_embedding(x) for x in text]

/opt/miniconda3/lib/python3.12/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

In [3]:
text = "This is a fake review."
text2 = "This is not a fake review."

embedding = get_sentence_embedding(text)
type(embedding)

numpy.ndarray

In [4]:
embedding

array([-0.00613883, -0.01058691,  0.00132789, ..., -0.02228651,
       -0.00615894, -0.02127941], dtype=float32)

In [5]:
a = [text, text2]
get_sentence_embedding(a)

[array([-0.00613883, -0.01058691,  0.00132789, ..., -0.02228651,
        -0.00615894, -0.02127941], dtype=float32),
 array([ 0.00717256,  0.00192549, -0.01863514, ..., -0.01114187,
         0.01110463, -0.00416854], dtype=float32)]

In [7]:
df = pd.read_csv("../raw data/combined_data.csv")

In [8]:
df.head()

,Text,Label,Original dataset,Row in original dataset
0,The idea of graduating high school in three ye...,Machine,essays,26613
1,"Hey, I'm so excited to write this essay about ...",Machine,essays,26326
2,Introduction\n\nSelf-reliance is a concept tha...,Machine,essays,30579
3,"Sure, here's my attempt at writing an essay as...",Machine,essays,33547
4,The legalization of marijuana is a highly deba...,Machine,essays,33768

In [11]:
tqdm.pandas()
df['embedding'] = df['Text'].progress_apply(get_sentence_embedding)

  0%|          | 0/80000 [00:00<?, ?it/s]

In [12]:
df.head()

,Text,Label,Original dataset,Row in original dataset,embedding
0,The idea of graduating high school in three ye...,Machine,essays,26613,"[0.01476596, -0.013095475, 0.002932728, -0.011..."
1,"Hey, I'm so excited to write this essay about ...",Machine,essays,26326,"[0.00292786, -0.013083563, 0.0047025573, -0.00..."
2,Introduction\n\nSelf-reliance is a concept tha...,Machine,essays,30579,"[-0.015756093, -0.023221416, -0.010959062, -0...."
3,"Sure, here's my attempt at writing an essay as...",Machine,essays,33547,"[0.013002162, 0.011017485, -0.03551094, 0.0290..."
4,The legalization of marijuana is a highly deba...,Machine,essays,33768,"[0.0016188276, 0.011155421, -0.004596148, 0.00..."

In [13]:
df.to_csv('combined_data_with_embeddings.csv')

In [14]:
embeddings = df['embedding']

In [15]:
df['embedding'].apply(lambda a : len(a))

0        1024
1        1024
2        1024
3        1024
4        1024
         ...
79995    1024
79996    1024
79997    1024
79998    1024
79999    1024
Name: embedding, Length: 80000, dtype: int64

In [16]:
print(sentence_model.max_seq_length)

512